langchain==0.2.14
langchain-community==0.2.12
langchain-openai==0.1.22
langchain-core==0.2.33
openai==1.42.0
pypdf==5.0.1
tiktoken==0.7.0
tokenizers==0.15.2
langchain-text-splitters==0.2.2
langcodes==3.4.0
langsmith==0.1.99
pydantic


